<div class="search-bar form-inline">
  <input
    class="form-control"
    type="text"
    ng-model="$ctrl.searchText"
    ng-model-options="{debounce: 500}"
    ng-change="$ctrl.result({q: $ctrl.searchText})"/>
  <button class="btn" ng-click="$ctrl.result({q: $ctrl.searchText})">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <input
    class="checkbox"
    type="checkbox"
    ng-model="$ctrl.m"
    ng-change="$ctrl.autoplayToggle()"/>
  <span>&#160autoplay</span>
</div>


<!-- ng-model=$ctrl.m needs to be there for ng-change to work, but model itself doesn't get referenced (m can be whatever) -->